body {
  background-color: rgb(61, 61, 61);
}
div {
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: center;
}

@keyframes shadowButtonTransition {
  from {
    box-shadow: transparent;
    text-shadow: transparent;
  }
  
  to {
    box-shadow: -2px 4px 10px .1px rgb(0, 255, 0);
    text-shadow:  1px 1px 5px rgb(0, 255, 0);
  }
  
}
button {
  padding: 10px 10px;
  border: 3px solid rgb(30, 247, 30);
  border-radius: 5px; 

  background-color: transparent;
  
  color: rgb(30, 247, 30);
}

button:hover {
  box-shadow: -2px 4px 10px .1px rgb(0, 255, 0);
  text-shadow:  1px 1px 5px rgb(0, 255, 0);
}
